<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <!-- <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/avatar.png" alt="" width="48">
        </a> -->

        <nav>
            <a href="/">Home</a>
            <!-- <a href="/about">About Me</a> -->
            <a href="/notes/Table of Contents">ToC</a>
        </nav>
    </header>
    <main>
        <page></page>
        <page2></page2>
        <article>
            {{content}}
        </article>
        <!-- {% include 'backlinks.html' %} -->
    </main>
    
    <ink></ink>
    
    <footer class="page-footer">
        <small>Written by <fancy>{{site.author}}</fancy></small>
    </footer>
</body>
</html>